### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [8]:
total_number_of_players = purchase_data['SN'].nunique()
pd.DataFrame([total_number_of_players], columns=["Total Players"])

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
import numpy as np
number_of_unique_items = purchase_data['Item ID'].nunique()
average_price = purchase_data['Price'].mean()
number_of_purchases = len(purchase_data['Purchase ID'])
total_revenue = purchase_data['Price'].sum()
columns = ['Number of Unique Items', 'Average Price','Number of purchases', 'Total Revenue']
purchase_analysis = pd.DataFrame([[number_of_unique_items, average_price, number_of_purchases, total_revenue]], columns=columns )
purchase_analysis['Average Price'] = purchase_analysis['Average Price'].map("${:.2f}".format)
purchase_analysis['Total Revenue'] = purchase_analysis['Total Revenue'].map("${:,.2f}".format)
purchase_analysis

float64

   Number of Unique Items Average Price  Number of purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [17]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [9]:
gender_demographics = purchase_data.groupby(['Gender'])['SN'].nunique()
gender_demographics = gender_demographics.to_frame(name='Total Count')
total_number_of_players = gender_demographics['Total Count'].sum()
gender_demographics['Percentage of Players'] = gender_demographics['Total Count'].apply(lambda x: x / total_number_of_players * 100)
gender_demographics['Percentage of Players'] = gender_demographics['Percentage of Players'].map("{:.2f}%".format)
gender_demographics.reset_index()

                  Gender  Total Count Percentage of Players
0                 Female           81                14.06%
1                   Male          484                84.03%
2  Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
gender_grouped = purchase_data.groupby(['Gender'])
person_count = gender_grouped['SN'].nunique()
purchase_count = gender_grouped['Purchase ID'].count()
average_purchase_price = gender_grouped['Price'].mean().map("${:.2f}".format)
total_purchase_value = gender_grouped['Price'].sum()
average_total_purchase_per_person = total_purchase_value / person_count
total_purchase_value = total_purchase_value.map("${:.2f}".format)
average_total_purchase_per_person = average_total_purchase_per_person.map("${:.2f}".format)
analysis_df = purchase_count.to_frame(name='Purchase Count')
analysis_df['Average Purchase Price'] = average_purchase_price
analysis_df['Total Purchase Price Value'] = total_purchase_value
analysis_df['Avg Total Purchase per Persion'] = average_total_purchase_per_person
analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Price Value,Avg Total Purchase per Persion
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [10]:
bins = [1, 9, 14, 19, 24, 29, 34, 39, 100]
labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
purchase_data['age_bins'] = pd.cut(x=purchase_data['Age'], bins=bins, labels=labels)
age_demographics = purchase_data.groupby(['age_bins'])['SN'].nunique()
age_demographics = age_demographics.to_frame(name='Total Count')
age_demographics['Percentage of Players'] = (age_demographics['Total Count'] / total_number_of_players * 100).map("{:.2f}%".format)
age_demographics

          Total Count Percentage of Players
age_bins
<10                17                 2.95%
10-14              22                 3.82%
15-19             107                18.58%
20-24             258                44.79%
25-29              77                13.37%
30-34              52                 9.03%
35-39              31                 5.38%
40+                12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [29]:
age_bins_grouped = purchase_data.groupby(['age_bins'])
purchase_count = age_bins_grouped['Purchase ID'].count()
person_count = age_bins_grouped['SN'].nunique()
average_purchase_price = age_bins_grouped['Price'].mean()
total_purchase_value = age_bins_grouped['Price'].sum()
average_total_purchase_per_person = total_purchase_value / person_count
purchase_analysis_age_df = purchase_count.to_frame(name='Purchase Count')
purchase_analysis_age_df['Average Purchase Price'] = average_purchase_price.map("${:.2f}".format)
purchase_analysis_age_df['Total Purchase Value'] = total_purchase_value.map("${:.2f}".format)
purchase_analysis_age_df['Avg Total Purchase per Person'] = average_total_purchase_per_person.map("${:.2f}".format)
purchase_analysis_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
age_bins,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [30]:
top_spenders = purchase_data['SN'].value_counts()[:5]

sn, purchase_count, average_purchase_price, total_purchase_value = ([] for _ in range(4))

for k, v in top_spenders.items():
    price = purchase_data[purchase_data['SN'] == k]['Price']
    total_purchase = price.sum()
    ave_purchase = total_purchase / v
    sn.append(k)
    purchase_count.append(v)
    average_purchase_price.append(ave_purchase)
    total_purchase_value.append(total_purchase)

top_spenders_df = pd.DataFrame(list(zip(sn,purchase_count,average_purchase_price,total_purchase_value)), columns=["SN", "Purchase Count", "Average Purchase Price","Total Purchase Value"])
top_spenders_df['Average Purchase Price'] = top_spenders_df['Average Purchase Price'].map("${:.2f}".format)
top_spenders_df['Total Purchase Value'] = top_spenders_df['Total Purchase Value'].map("${:.2f}".format)
top_spenders_df

             SN  Purchase Count Average Purchase Price Total Purchase Value
0     Lisosia93               5                  $3.79               $18.96
1   Idastidru52               4                  $3.86               $15.45
2        Iral74               4                  $3.40               $13.62
3     Inguron55               3                  $3.70               $11.11
4  Lassilsala30               3                  $3.84               $11.51

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [32]:
purchase_data_df = pd.read_csv(file_to_load)
item_df = purchase_data_df[['Item ID', 'Item Name', 'Price']]
# purchase_count_df = item_df.groupby(['Item ID', 'Item Name', 'Price']).size().nlargest(5).reset_index(name='Purchase Count')
purchase_count_df = item_df.groupby(['Item ID', 'Item Name', 'Price']).size().reset_index(name='Purchase Count').sort_values('Purchase Count', ascending=False)
purchase_count_df['Total Purchase Value'] = purchase_count_df['Price'] * purchase_count_df['Purchase Count']
purchase_count_df['Price'] = purchase_count_df['Price'].map("${:.2f}".format)
purchase_count_df['Total Purchase Value'] = purchase_count_df['Total Purchase Value'].map("${:.2f}".format)
purchase_count_df.head()

,Item ID,Item Name,Price,Purchase Count,Total Purchase Value
177,178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,12,$50.76
144,145,Fiery Glass Crusader,$4.58,9,$41.22
107,108,"Extraction, Quickblade Of Trembling Hands",$3.53,9,$31.77
81,82,Nirvana,$4.90,9,$44.10
19,19,"Pursuit, Cudgel of Necromancy",$1.02,8,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [13]:
purchase_data_df = pd.read_csv(file_to_load)
item_df = purchase_data_df[['Item ID', 'Item Name', 'Price']]
purchase_count_df = item_df.groupby(['Item ID', 'Item Name', 'Price']).size().reset_index(name='Purchase Count')
purchase_count_df['Total Purchase Value'] = purchase_count_df['Price'] * purchase_count_df['Purchase Count']
purchase_count_df.sort_values('Total Purchase Value', ascending=False, inplace=True)

purchase_count_df['Price'] = purchase_count_df['Price'].map("${:.2f}".format)
purchase_count_df['Total Purchase Value'] = purchase_count_df['Total Purchase Value'].map("${:.2f}".format)
purchase_count_df.head()

,Item ID,Item Name,Price,Purchase Count,Total Purchase Value
177,178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,12,$50.76
81,82,Nirvana,$4.90,9,$44.10
144,145,Fiery Glass Crusader,$4.58,9,$41.22
91,92,Final Critic,$4.88,8,$39.04
102,103,Singed Scalpel,$4.35,8,$34.80